body {
  margin: 0;
}

header {
  position: fixed;
  background: #fff;
  width: 100vw;
  height: 1rem;
  font-size: 0.7rem;
}
ul {
  list-style-type: none;
  display: flex;
  margin: 0;
}

li {
  margin: 0 2rem;
}

a {
  text-decoration: none;
}

main {
  padding-top: 1rem;
}

section {
  height: 50vh;
  color: #fff;
  padding: 1rem;
}


#s1 {
  background: #084B83;
}

#s2 {
  background: #8B9EB7;
}

#s3 {
  background: #679436;
}

#s4 {
  background: #E83151;
}

#s5 {
  background: #1B9AAA;
}

html {
  scroll-behavior: smooth;
}