* {
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Quicksand', sans-serif;
}

nav {
  font-weight: bold;
  background-color: #2f4858;
  height: 3rem;
  position: sticky;
  top: 0;
  z-index: 1;
}

ul {
  display: flex;
  list-style: none;
  justify-content: space-around;
  align-items: center;
  padding: 0;
  text-align: center;
}

li {
  margin: 1rem;
  width: 30%;
}

nav a {
  text-decoration: none;
  color: #fff;
}

header,
main {
  margin: 1rem auto;
  font-weight: 100;
  width: 72vw;
}

header {
  display: grid;
  grid-template-columns: 2fr 1fr;
  padding: 3rem 0;
}

header h1 {
  font-size: 4rem;
  margin-bottom: 1rem;
}
header h2 {
  margin: 1rem 0;
}

img {
  width: 100%;
}

#icons {
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  font-variant: small-caps;
  margin-bottom: 3rem;
}
#icons div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #c47ac0;
  color: #fff;
  border-radius: 50%;
  width: 10rem;
  height: 10rem;
}
#icons div:nth-child(2) {
  background-color: #cc2936;
}
#icons div:nth-child(3) {
  background-color: #1b98e0;
}
#icons i {
  font-size: 5rem;
}

p {
  font-size: 1.5rem;
}

.info {
  display: grid;
  grid-template-columns: 1fr 2fr;
  margin-bottom: 3rem;
}
.info p {
  margin-left: 3rem;
}
